*{
	padding: 0px;
	margin: 0px;
}
#all{
	margin: 20px auto;
	text-align: center;
	width: 800px;
	/*  border: 1px solid blue;*/
}

pre{
	display:inline-block;
	width: 120px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 24px;
}
input[type=text]{
	height: 24px;
	width: 240px;
	text-align: center;
}
.bt{
	margin-top: 20px;
	margin-left: 20px;
	height: 30px;
	width: 120px;
	font-size: 20px;
	
}
